*{
    /* background-color:rgb(226, 136, 136); */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}
section{
    padding: 100px;
}
.banner{
    position: relative;
    height: 100vh;
    background-image: url('https://cdn.pixabay.com/photo/2016/11/14/03/38/achieve-1822503_1280.jpg');
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.banner h2{
    color: white;
    font-size: 3em;
    font-weight: 500;
    line-height: 1.2em;
    /* text-transform: uppercase; */
}
.banner h2 span{
    font-size: 1.5em;
    font-weight: 500;
    /* text-transform: capitalize; */
}
.content{
    color: white;
    font-size: larger;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: capitalize;
}
.btn{
    text-decoration: none;
    /* width: 900px; */


}
button{
    width: 200px;
    height: 50px;
    font-size: larger;
    border: 1px solid black;
}
button:hover{
   background-color:  rgb(136, 255, 0);
}
header{
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    align-items: center;

}
header .logo{
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    color:rgb(193, 241, 16);
    font-weight: 700;
    letter-spacing: 2px;
}
.heading{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;


}
.content{
    display: flex;
    justify-content: space-between;

}
.contentbx{
    font-size: 24px;
    margin-bottom: 10px;
}
img{
    height: 300px;
    width: 500px;
}

    
    /* background-image: url('https://cdn.pixabay.com/photo/2014/05/03/01/03/laptop-336704_1280.jpg'); */
    /* background-color: rgb(193, 247, 247); */
    /* background-size: auto; */
    /* background-repeat: no-repeat; */
    /* margin-left: 115px; */
    
    

.handles{
    background-color: white;
}
.topic{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(255, 8, 0);
    
    

}
.linkedin{
    /* border: 8px double rgba(5, 187, 243, 0.986); */
    background-color:thistle;
    padding-bottom: 180px;
    height: 150px;
    width: 500px;
    
    padding-top: 100px;
    margin-left: 350px;
}
.linkedin p{
    text-align: center;
  text-transform: capitalize;
    font-size: 24px;
    font-weight: bolder;

}
.linkedin a{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
}
.leetcode{
    /* border: 8px double rgba(5, 187, 243, 0.986); */
    background-color: thistle;
    padding-bottom: 150px;
    height: 150px;
    width: 500px;
    padding-top: 100px;
    margin-left: 350px; 

}
.leetcode p{
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bolder;
}
.leetcode a{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
}


.hackerrank{

    /* border: 8px double rgba(5, 187, 243, 0.986); */
    /* background-color: rgb(90, 104, 236); */
    background-color: thistle;
    padding-bottom: 150px;
    height: 150px;
    width: 500px;
    padding-top: 100px;
    margin-left: 350px; 
}
.hackerrank p{
    
    text-align: center;
  text-transform: capitalize;
    font-size: 24px;
    font-weight: bolder;

}
.hackerrank a{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
}
.insta{
    /* display: inline; */
    background-color: rgb(236, 90, 90);
    border: 2px solid black;
    height: 300px;
    width: 500px;
    padding-top: 100px;
    margin-left: 350px; 

}
.insta p{
    text-align: center;
  text-transform: capitalize;
    font-size: 24px;
    font-weight: bolder;

}
.insta a{

    display: flex;
    justify-content: center;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
}
.insta:hover{
    background-color: violet;
}
.one{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;

}
.two{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}
.three{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}
 .contact{
     /* display: flex; */
     background-color: aqua;

 }   














